/* @import "custom";
@import "~bootstrap/scss/bootstrap"; */
body{ 
    background-color: rebeccapurple;
}
.container{ 
    h1{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(251, 255, 0);
    }
    h3{ 
        color: rgba(0, 0, 0, 0.411);
    }
}
.container-2{
    display: none;
    .answers{
        display: flex;
        flex-direction: row;
    section{ 
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 100px;
        border: 5px;
        height: 7em;
        margin: 10px;
    }
    section:hover{ 
        background-color: chartreuse;
        cursor: pointer;
    }
}
}